NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_READ_TOKEN=

RESEND_API_KEY=
CONTACT_TO_EMAIL=info@hussainilaw.com.au
CONTACT_FROM_EMAIL=website@hussainilaw.com.au

GOOGLE_PLACES_API_KEY=
